<!-- Page Heading -->
<div class="wrap">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Level 3 <small>Tickets</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->
  <%= render "template" %>
</div>
