<!-- Page Heading -->
<div class="wrap">
<div class="container" >
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Ticket <small>Settings</small>
    </h1>
  </div>
</div>
<div class="row">

  <div class="settings-group col-lg-4">

    <div class="left col-lg-1">

      <%= image_tag 'users.png' %>

    </div>

    <div class="right">
      <h3 class="settings-header">Profile Settings</h3>
      <p>Edit your registration details.</p>
      <div class="text-center">
        <%= link_to "Edit", edit_user_registration_path, class: "btn btn-default btn-small" %>
      </div>

    </div>

  </div>


</div>
</div>
</div>