<div class="jumbotron jumbo">
  <div class="text-center">
  <h1>Welcome, <%= current_user.first_name %>!</h1>
  <p class="lead">
    We hope you enjoy using our application.
  </p>
   </div>
    <div class="text-center">
      <%= link_to "Edit Registration Details", edit_user_registration_path, :class => "btn btn-info" %>
      <%= link_to "Go To Your Dashboard", dashboard_home_path, :class => "btn btn-success" %>
    </div>

</div>