<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="nav-bar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SmileSupport</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to dashboard_login_path do %>
              Features <i class=""></i>
          <% end %>
        </li>
        <li>
        <%= link_to dashboard_login_path do %>
            Sign In <i class=""></i>
        <% end %>
         </li>
      </ul>
    </div>
    </div>
  </div>
</div>