<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="nav-bar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <%= link_to "SmileSupport", root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse  navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <%= link_to dashboard_login_path do %><span class="glyphicon glyphicon-log-in btn btn-default navbar-btn">
              Login</span>
        <% end %>
         </li>
      </ul>
    </div>
    </div>
  </div>
</div>