<!--<div class="col-md-12">
  <div class="jumbotron">
    <h1>SmileSupport</h1>
    <p>Meet your staff's support needs on time</p>
    <p><%= link_to 'Create new support request', new_ticket_path, class: 'btn btn-primary btn-lg' %></p>

  </div>
</div>-->

<%= stylesheet_link_tag params[:tickets] %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 panel panel-default">
      <h1 class="margin-base-vertical">SmileSupport makes it easy to manage support requests from your staff.</h1>
      <p class="text-center">Track the progress of support requests, drop the lengthy email threads, and meet your
        staff's support needs on time</p>
      <div class="text-center">
      <p><%= link_to 'Create new support request', new_ticket_path, class: 'btn btn-primary btn-lg' %></p>
       </div>

    </div>

  </div>
</div>

