.navbar-default {
    /*background: #CC6600;*/
    /*border-bottom-color: #CC6600;;*/

}

/*.navbar-default .navbar-nav > li > a {*/
    /*color: #ffffff;*/
    /*font-weight: bold;*/

/*}*/
/*.navbar-default .navbar-brand {*/

    /*color: #ffffff;*/
    /*font-weight: bold;*/
/*}*/
#thead {
   font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.show {
    background: #eeeeee;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 0 10px 10px;
}
.right {
    background: #eeeeee;
    width: 250px;
    height: 150px;
    border-radius: 5px;
    float: right;


}
.settings-group {
    width: 450px;

}
.left {
background: #ffffff;
    float: left;

}
.settings-header {
    margin-left: 10px;
    font-family: "Abel", Arial, sans-serif;
}

p {
    font-family: "Open Sans",serif;
    margin-left: 10px;
}

.btn-small {
    width: 80px;
}

.assignee-h1 {
    text-align: center;
}
