.navbar-default {
    /*background: #CC6600;*/
    /*border-bottom-color: #CC6600;;*/

}

/*.navbar-default .navbar-nav > li > a {*/
    /*color: #ffffff;*/
    /*font-weight: bold;*/

/*}*/
/*.navbar-default .navbar-brand {*/

    /*color: #ffffff;*/
    /*font-weight: bold;*/
/*}*/
#thead {
   font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.show {
    background: #eeeeee;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 0 10px 10px;
}
.divshow {

}