// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 20px;
  font-size: 16px;
  font-family: "Open Sans",serif;
}
.margin-base-vertical {
  margin: 40px 0px;
}

h1 {
  font-family: "Abel", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
}